<div class="login-key-cont" style="display: flex; justify-content: center; flex-direction: column; align-items: center;">
  <h1 style="font-family: 'Courier New', Courier, monospace; color:springgreen">Logged in sucessfully. Welcome <%= locals.user.username %></h1>
  <img src="/images/key.png" alt="login-key-icon" height="200px" width="200px">
</div>