<h2>Reset password for <%= email %></h2>

<form action="/users/change-password-link/<%= id %>/<%= token %>" method="POST">

  <label>
    <span>Password</span>
    <input type="password" name="password" required />
  </label>

  <label>
    <span>Confirm Password</span>
    <input type="password" name="confirmPassword" required />
  </label>

  <button type="submit" class="submit">Reset Password</button>
</form>