<h2>Reset your password here!</h2>

<form action="/users/update-password" method="POST">
  <label>
    <span>Old Password</span>
    <input type="password" name="oldPassword" required />
  </label>
  <label>
    <span>New Password</span>
    <input type="password" name="newPassword" required />
  </label>

  <button type="submit" class="submit">Reset</button>
</form>