<form class="form sign-up" method="POST">
  <h2>Time to feel like home,</h2>
  <label>
    <span>Name</span>
    <input type="text" name="username" />
  </label>
  <label>
    <span>Email</span>
    <input type="email" name="email" />
  </label>
  <label>
    <span>Password</span>
    <input type="password" name="password" id="sign-up-password"/>
  </label>
  <label>
    <span>Confirm Password</span>
    <input type="password" name="confirmPassword" id="confirm-password"/>
  </label>
  <button type="submit" class="submit">Sign Up</button>
  <a href="/users/auth/google" id="social-sign-up-link" style="display: none;">Connect with <span>Google <i class="fa-brands fa-google"></i></span></a>
  <button type="button" class="fb-btn" id="social-sign-up">Join with <span>Google <i class="fa-brands fa-google"></i></span></button>
</form>