<link rel="stylesheet" href="/css/home.css">


<p class="tip">One stop solution for authenticating all your apps. Just plug and play, it's very simple.</p>

<div class="cont">

  <%- include('user_sign_in'); -%>


  <div class="sub-cont sign-in-sign-up-backdrop">
    <div class="img">

      <div class="img__text m--up">
        <h2>New here?</h2>
        <p>Sign up below to get started!</p>
      </div>

      <div class="img__text m--in">
        <h2>One of us?</h2>
        <p>If you already has an account, just sign in!</p>
      </div>


      <div class="img__btn">
        <span class="m--up">Sign Up</span>
        <span class="m--in">Sign In</span>
      </div>

    </div>

    <%- include('user_sign_up'); -%>


  </div>

</div>

<script src="/js/home.js"></script>