<form class="form sign-in" action="/users/create-session" method="POST">
  <h2>Welcome back,</h2>
  <label>
    <span>Email</span>
    <input type="email" name="email" required />
  </label>
  <label>
    <span>Password</span>
    <input type="password" name="password" required />
  </label>
  <p class="forgot-pass">
    <a href="/users/forgot-password">
      Forgot password?
    </a>
  </p>
  <button type="submit" class="submit">Sign In</button>
  <a href="/users/auth/google" id="social-sign-in-link" style="display: none;">Connect with <span>Google <i class="fa-brands fa-google"></i></span></a>
  <button type="button" class="fb-btn" id="social-sign-in">Connect with <span>Google <i class="fa-brands fa-google"></i></span></button>
</form>