<div>
    <p>Hey! Reset you password by clicking on the link below. Beware, this is a one time link</p>

    <br>

    <a href="<%= locals.passwordResetLink %>" target="_blank"><%= locals.passwordResetLink %></a>

    <p>Thanks!</p>
</div>